/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/* Write your CSS styles here */
body {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	
}

nav {
	background: url("http://cl.ly/image/200k3l2S1r2f/andromedaheader.jpg") ;
    color: #ffffff;
  	font-family: Helvetica, Arial, sans-serif;
	padding-top: 100px;
	padding-bottom: 30px;
	padding-left:50px;
  	
}
h1 {
	font-size: 100px;
	letter-spacing:2px;
	padding-bottom: 40px;
	
}
ol li{
	color: #000066;
	display: block;
	margin: 10px 10px 10px 10px;
}
li {
	display: inline;
	font-size: 40px;
	text-align: center;
}

a {
	text-decoration: none;
}
a:link {color:#ffffff;}
a:visited {color:#ffffff;}
a:hover{color:#999999;}
a:active{color:#cccccc;}



h2, h3, h4, h5, h6, p {
	color:#000066;

	
}

h2 {
	padding-top: 30px;
	padding-left: 50px;
	font-size: 40px;
	color:#000066;
	margin-bottom: 40px;
	font-weight: bold;
}

h3 {
	font-size: 15px;
	padding-left:50px;
	margin-bottom: 50px;
}

h4 {
	font-size: 25px;
	color: #ffffff;
	line-height: 150%;
	margin-bottom: 50px;
}

.makethings {
	background-color: #000066;
	width: 560px;
	margin: auto;
}
.greattogether {
	color: #000066;
}
.content {
	color: #000066;
}

span {
	background-color: #000066;
	padding: 4px 4px 3px 4px;
}

 p {
	padding-left: 50px;
	padding-top:5px;
	padding-bottom: 5px;
	margin-top:20px;
	font-size:25px ;
	background-color:#000066;
	color:#ffffff;	
}
